@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@layer base {
  html,
  body {
    scrollbar-gutter: stable;
    background-color: #f9fafb;
  }
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-data: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif;
  --breakpoint-xs: 29rem;

  /* COLORS */
  --color-color-bg: #f9fafb;
  --color-color-brand-primary: var(--color-emerald-600);
  --color-color-brand-primary-darker: color-mix(
    in oklab,
    var(--color-emerald-700) 100%,
    transparent
  );
  --color-color-brand-primary-muted: color-mix(
    in oklab,
    var(--color-emerald-600) 95%,
    transparent
  );

  /* PRIMARY -> TERTIARY HEADERS */
  --color-color-header-primary-dark: var(--color-slate-800);
  --color-color-header-primary: var(--color-slate-700);
  --color-color-header-secondary: var(--color-slate-600);
  --color-color-header-tertiary: var(--color-slate-500);

  --color-color-field-label: var(--color-gray-600);
  --color-color-field-placeholder: color-mix(
    in oklab,
    var(--color-slate-500) 80%,
    transparent
  );

  --color-color-subtle: color-mix(
    in oklab,
    var(--color-slate-600) 83%,
    transparent
  );

  /* Sizings */
  --text-size-header-secondary: 3.25rem;
}

.notes-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 #f1f5f9;
}

.notes-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.notes-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
}

.notes-scrollbar::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 9999px;
}
